body { 

    background-color:honeydew; 

    background-position: center; 

    background-size: cover; 

    background-attachment: fixed; 

    background-repeat: no-repeat; 
} 

  
.heading { 

    font-family: 'italic', cursive; 
    font-size: 100px;

    color:lightcoral;

 

    margin: 35px auto 20px; 
} 

  
hr { 

    border-top: 2px solid black; 

    width: 30%; 

    margin-bottom: 45px; 
} 

  
.main { 

    width: 600px; 

    margin: auto; 

    padding: 20px; 

    border-radius: 4px; 

    background-color: rgba(0, 0, 0, 0.5); 

    color: white; 
} 

  
label { 

    font-size: 25px; 
} 

  
.btn { 
    margin-top: 18px;

    margin-right:50px;
    width: 120px; 
} 

  
.finalAmount { 

    font-family: 'italic', cursive; 

    margin: 10px auto; 
} 

  

.finalAmount h2 { 

    font-size: 45px; 
    margin-top: 15px;
} 

  
.finalValue { 

    font-family: 'italic', serif; 
    font-size: 45px;
    color: lightcoral; 
    margin-top: -20px;
} 




